@charset "UTF-8";
@import url(https://cdn.staticfile.org/mui/3.7.1/css/mui.min.css);
@import url(https://cdn.jsdelivr.net/gh/masx200/masx200.github.io@4.2.2/src/assetscss/github-6556dfa9be535e551ffffaadfecdad99.min.css);
@import url(https://cdn.jsdelivr.net/gh/masx200/masx200.github.io@4.2.2/src/assetscss/github-frameworks-a2fba223d5af91496cac70d4ec3624df.min.css);
@import url(https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css);
pre {
    text-align: left !important;
}
#content {
    text-align: center !important;
}
@media (max-width: 550px) {
    #cebianlan,
    #mynewsidelan {
        width: 100%;
    }
}
#cebianlan {
    max-height: 93%;
}
#cebianlan,
#mynewsidelan {
    overflow: auto;
}
#cebianlantoggle {
    display: inline-block;
}
@media (min-width: 550px) {
    #mynewsidelan {
        width: 300px;
    }
    #cebianlan,
    #cebianlantoggle {
        display: inline-block;
    }
}
.el-container {
    margin-bottom: 40px;
}
.el-aside {
    color: #333;
    text-align: center;
    line-height: 30px;
}
h5#markdownerror,
h5#markdownurlsrc {
    padding: 3px;
    color: #007aff;
    border-radius: 3px;
    border: 1px solid #007aff;
    max-width: 95%;
    display: block !important;
    text-align: center !important;
}
button.btn.btn-outline-primary.clipbutton {
    position: static !important;
}
* {
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0s !important;
    transition-duration: 0s !important;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
#content li,
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center !important;
}
.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
    -webkit-text-size-adjust: none;
}
.diff .hljs-header,
.hljs-comment {
    color: #998;
    font-style: italic;
}
.css .rule .hljs-keyword,
.hljs-keyword,
.hljs-request,
.hljs-status,
.hljs-subst,
.hljs-winutils,
.nginx .hljs-title {
    color: #333;
    font-weight: 700;
}
.hljs-hexcolor,
.hljs-number,
.ruby .hljs-constant {
    color: teal;
}
.hljs-doctag,
.hljs-string,
.hljs-tag .hljs-value,
.tex .hljs-formula {
    color: #d14;
}
.hljs-id,
.hljs-title,
.scss .hljs-preprocessor {
    color: #900;
    font-weight: 700;
}
.hljs-list .hljs-keyword,
.hljs-subst {
    font-weight: 400;
}
.hljs-class .hljs-title,
.hljs-type,
.tex .hljs-command,
.vhdl .hljs-literal {
    color: #458;
    font-weight: 700;
}
.django .hljs-tag .hljs-keyword,
.hljs-rule .hljs-property,
.hljs-tag,
.hljs-tag .hljs-title {
    color: navy;
    font-weight: 400;
}
.hljs-attribute,
.hljs-name,
.hljs-variable,
.lisp .hljs-body {
    color: teal;
}
.hljs-regexp {
    color: #009926;
}
.clojure .hljs-keyword,
.hljs-prompt,
.hljs-symbol,
.lisp .hljs-keyword,
.ruby .hljs-symbol .hljs-string,
.scheme .hljs-keyword,
.tex .hljs-special {
    color: #990073;
}
.hljs-built_in {
    color: #0086b3;
}
.hljs-cdata,
.hljs-doctype,
.hljs-pi,
.hljs-pragma,
.hljs-preprocessor,
.hljs-shebang {
    color: #999;
    font-weight: 700;
}
.hljs-deletion {
    background: #fdd;
}
.hljs-addition {
    background: #dfd;
}
.diff .hljs-change {
    background: #0086b3;
}
.hljs-chunk {
    color: #aaa;
}
p {
    color: #000 !important;
}
body {
    color: #333;
    margin: 0;
    padding: 0;
}
#sidebar {
    overflow: -moz-scrollbars-vertical;
    margin-top: 0;
    padding-top: 0;
}
#sidebar h1 {
    margin-bottom: 0;
    padding-bottom: 0;
}
#sidebar h1 a:link,
#sidebar h1 a:visited {
    color: #333;
}
#sidebar h5 {
    margin-top: 20px;
    margin-bottom: 0;
}
#sidebar a:link,
#sidebar a:visited {
    color: #4682be;
    text-decoration: none;
}
#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
}
#sidebar ul li:before {
    position: relative;
    left: -5px;
}
#sidebar ul li {
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 10px;
    padding: 0;
    text-indent: -5px;
}
#content {
    padding-top: 10px;
    padding-bottom: 150px;
    text-align: justify;
    font-size: 1em;
}
#content pre {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 13px;
    color: #fff;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background: #f7fafb;
    border-radius: 5px;
}
#content pre code {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    font-size: 1.1em;
    border: none;
}
#content code {
    padding: 1px 5px;
    color: #555;
    font-size: 10px;
    font-weight: 400;
    background: #f7fafb;
    border: 1px solid #e3edf3;
    border-radius: 2px;
}
#content h2 {
    font-size: 18px;
    border-top: 2px solid #666;
}
#content h2,
#content h3 {
    margin-top: 50px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 0;
    text-align: left;
}
#content h3 {
    border-top: 1px dotted #777;
}
#content hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
}
#content img {
    max-width: 90%;
    display: block;
    margin: 40px auto;
    border-radius: 5px;
}
#content ul {
    display: block;
    list-style-type: none;
}
#content ul li:before {
    position: relative;
    left: -5px;
}
#content ul li {
    text-indent: -5px;
    font-size: 13px;
}
#content ul li.link {
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
#content a:link,
#content a:visited,
#content ul li.link {
    color: #4682be;
    text-decoration: none;
}
#back_to_top {
    display: none;
    position: fixed;
    height: 20px;
    line-height: 20px;
    width: 50px;
    top: 20px;
    margin-left: 890px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    background-color: #aaa;
}
#back_to_top:hover {
    background-color: #444;
    cursor: pointer;
}
#edit {
    display: none;
    position: fixed;
    height: 20px;
    line-height: 20px;
    width: 50px;
    top: 50px;
    margin-left: 890px;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    background-color: #aaa;
}
#edit:hover {
    background-color: #444;
    cursor: pointer;
}
#error,
#loading {
    display: none;
    position: fixed;
    top: 45%;
    font-weight: 700;
}
input[type="search"] {
    display: block;
    width: 100%;
    text-align: left;
}
.fragments {
    margin: 0;
    padding: 10px;
}
.fragment {
    padding: 0 10px;
}
.search_results .link {
    margin-top: 35px;
}
#content ul li {
    text-align: left;
}
#content ul .fragments li:before {
    position: relative;
    left: 0;
}
#content ul li.fragment:before {
    margin: 0;
    padding: 0;
}
#content img.github_badges {
    display: inline;
}
#content .youtube_video {
    margin-top: 20px;
}
#hide {
    display: none;
}
@media (max-width: 550px) {
    hr#hidewidthless500 {
        display: none;
    }
}
* {
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
body,
html {
    scroll-behavior: smooth;
}
* {
    font-family: "Microsoft Yahei,PingFangSC-Regular,arial, verdana, sans-serif";
}
code {
    overflow: auto;
}
#collapsibleNavbar,
#my导航栏 {
    overflow: auto;
    max-height: 100%;
}
* {
    -webkit-user-select: text !important;
    -moz-user-select: text;
    -o-user-select: text;
    -ms-user-select: text !important;
    user-select: text !important;
    font-family: Microsoft Yahei, Helvetica, Tahoma, Arial, PingFang SC,
        Hiragino Sans GB, Heiti SC, MicrosoftYaHei, WenQuanYi Micro Hei,
        sans-serif !important;
}
